<wm-page name="page1" data-ng-controller="MainPageController" pagetitle="Main">
    <wm-header name="header1" content="header"></wm-header>
    <wm-top-nav name="top_nav1" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel name="left_panel1" columnwidth="2" content="leftnav"></wm-left-panel>
        <wm-page-content name="page_content1" columnwidth="10">
            <wm-prefab name="googlemaps1" height="440" accessroles="admin" lng="end_location.lng" lat="start_location.lat" locations="bind:Variables.GoogleapisInvoke.dataSet.route.leg" prefabname="googlemaps"></wm-prefab>
            <wm-prefab name="youtube1" height="267" width="1064" accessroles="user" prefabname="youtube"></wm-prefab>
            <wm-prefab name="fbpost1" height="591" prefabname="fbpost"></wm-prefab>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer1" content="footer"></wm-footer>
</wm-page>